@import "scss/variables.scss";
@import "scss/fonts";

$red: #E76F51;
$orange: #F4A261;
$yellow: #E9C46A;
$green: #2A9D8F;
$blue:#68C0E8;
$purple: #9D2A8E;
:root {
  --pageHeight: 77vh;
}


@import "scss/bootstrap";
@import "scss/typography";
@import "scss/modules/modules";

*::-webkit-scrollbar {
  display: none;
}
#main{
  width: 100vw;
  scroll-snap-type: x mandatory;
  position: fixed;
  top: 13vh;
  overflow-y: scroll;
}
.mainContainer{
  width: 500vw;
  display: flex;
  flex-direction: row;
  > *{
    width: 100vw !important;
  }
}

.pageContainer {
  scroll-snap-type: y mandatory;
  position: relative;
  height: var(--pageHeight);
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: center;
}

.pageBTN{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  &.next{
    right: 0;
    left: auto;
  }
  @include media-breakpoint-down(md){
    display: none;
  }
}

.pageContainer section:last-of-type {
  padding-top: 2px;
  height: calc(var(--pageHeight) + 2px);
}
section{
  scroll-snap-align: center;
  height: var(--pageHeight);
  & > .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  @include media-breakpoint-down(md){
    min-height: -webkit-fill-available;
    height: unset;
    position: relative;
    & > .container{
      position: absolute;
      left: 0;
    }
  }
  .row{
    row-gap: 100px;
  }
  &:nth-child(6n-5){
    background: $red;
  }
  &:nth-child(6n-4){
  background: $orange;
  }
  &:nth-child(6n-3){
    background: $yellow;
  }
  &:nth-child(6n-2){
    background: $green;
  }
  &:nth-child(6n-1){
    background: $blue;
  }
  &:nth-child(6n){
    background: $purple;
  }
}

.desktop{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.mobile{
  @include media-breakpoint-up(md){
    display: none;
  }
}