$white:#FFFFFF;
$black: #343847;
//text colors
$text-black: $black;
$text-grey: #ACB3C1;
$text-white: $white;

//surface
$surface-black: $black;
$surface-black-2: #3D4252;
$surface-white: $white;

//modulColors
$red: #E76F51;
$orange: #F4A261;
$yellow: #E9C46A;
$green: #2A9D8F;
$blue:#68C0E8;
$purple: #9D2A8E;

$link-color:$white;
$link-decoration:none;
$link-hover-color: $white;